<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>612665878629-ipnqfta9on5ed5b87dhhser5uedcsm6t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.612665878629-ipnqfta9on5ed5b87dhhser5uedcsm6t</string>
	<key>API_KEY</key>
	<string>AIzaSyCO5dPGKJqLa2yZk7N8MyGSiXeCPetFy1s</string>
	<key>GCM_SENDER_ID</key>
	<string>612665878629</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>abood-athhamneh.lawyers</string>
	<key>PROJECT_ID</key>
	<string>lawyers-bee99</string>
	<key>STORAGE_BUCKET</key>
	<string>lawyers-bee99.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:612665878629:ios:3df93230c26b5c0a</string>
	<key>DATABASE_URL</key>
	<string>https://lawyers-bee99.firebaseio.com</string>
</dict>
</plist>